{% extends "default.twig" %}  
{% block content %}
    <div class="grid-container grid-container-padded">
        <h1 class="text-center">Welcome</h1>
        <div class="grid-x .grid-padding-x">
            <div class="medium-12  cell">
               You're now Authenticated
            </div>
        </div>
    </div>
{% endblock %}