<div id="homepage"> 

    <div class="grid-x grid-padding-x">
        <div class="large-12 cell text-center">
            <h1>My Team Tree</h1>
            <p>For a better team/squad organization</p>
        </div>
    </div>

    <div class="grid-x callout">
        <div class="large-12 columns text-center">
            <h2>What is it for?</h2>
            <p>My Team Tree (or MTT) is an open source software that aims to help teams organizing themselves into squads in a better way. 
                It also provides to the company a big picture of how team members are currently organized.
        </div>
    </div>
    <div class="grid-container grid-container-padded">
        <div class="grid-x grid-padding-x">
            <div class="large-3 medium-6 cell text-center">
                <div class="card">
                    <img src="http://placehold.it/350x197">
                    <div class="card-divider text-center">
                        Your company tree
                    </div>
                    <div class="card-section">
                        <h4>Team Tree</h4>
                        <p>Have a full visibility of your company squads and collaborators.</p>
                    </div>
                </div>
            </div>
            <div class="large-3 medium-6 cell text-center">
                <div class="card">
                    <img src="http://placehold.it/350x197">
                    <div class="card-divider text-center">
                        More about each squad
                    </div>
                    <div class="card-section">
                        <h4>Understand Squads</h4>
                        <p>Understand the whole of each squad and see how it contributes to the team.</p>
                    </div>
                </div>
            </div>
            <div class="large-3 medium-6 cell text-center">
                <div class="card">
                    <img src="http://placehold.it/350x197">
                    <div class="card-divider text-center">
                        Get involved
                    </div>
                    <div class="card-section">
                        <h4>News and Updates</h4>
                        <p>Custom feed for the company where you can get updated with the latest news.</p>
                    </div>
                </div>
            </div>
            <div class="large-3 medium-6 cell text-center">
                <div class="card">
                    <img src="http://placehold.it/350x197">
                    <div class="card-divider text-center">
                        Your agile facilitator
                    </div>
                    <div class="card-section">
                        <h4>Agile helper</h4>
                        <p>Increases engagement and helps your team gain performance and agility.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="grid-x expanded callout secondary">
            <div class="large-4 columns text-center">
                <h5>Tags</h5>
                <span class="label">Team Tree</span>
                <span class="label">Squad</span>
                <span class="label">Agile</span>
                <span class="label">Organization</span>
            </div>
            <div class="large-4 columns text-center">
                <h5>Contributors</h5>
                <div class="grid-x small-up-4 " id="contributors">
                </div>
            </div>
            <div class="large-4 columns">
                <h5 class="text-center">About</h5>
                <p>My Team Tree (MTT) is a free and open source software under the <a target="_blank" href="https://opensource.org/licenses/MIT">MIT License</a>.</p>
                <p>Make suggestions and colaborate with us on <a target="_blank" href="https://github.com/viniciusbarros/my-team-tree">Github</a>.</p>
            </div>
        </div>
        <div class="grid-x expanded">
            <div class="medium-6 columns">
                <ul class="menu">
                    <li><a target="_blank" href="https://opensource.org/licenses/MIT">License</a></li>
                    <li><a target="_blank" href="https://github.com/viniciusbarros/my-team-tree">Github</a></li>
                </ul>
            </div>
            <div class="medium-6 columns">
                <ul class="menu align-right">
                    <li class="menu-text">Copyright © {{ "now"|date("Y") }} Vinícius Moura Barros</li>
                </ul>
            </div>
        </div>
    </footer>

</div>

