body {
  background-color: #2F4F6D;
  color: #FFF; }

label.error {
  color: red; }
  label.error input {
    border: 1px solid red; }
  label.error small {
    color: red;
    width: 100%;
    display: block;
    padding: 0 5px;
    background-color: #f9ecea; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Aug-2017, 13:23:45
    Author     : vinicius
*/
#homepage h1 {
  color: #6ABEA7;
  font-size: 5rem; }

#homepage h2, #homepage h4, #homepage h5 {
  color: #2F4F6D; }

#contributors .thumbnail {
  height: 75p;
  width: 75px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Aug-2017, 13:23:52
    Author     : vinicius
*/
form label {
  color: #FFFFFF;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem; }

form input:focus {
  opacity: .9; }
